.search-page{

width:100%;

max-width:900px;

margin:auto;

padding:30px;

}




.search-input{


height:45px;

background:#f1f1f1;

border-radius:20px;

display:flex;

align-items:center;

gap:10px;

padding:0 18px;

margin-bottom:30px;


}




.search-input input{


border:none;

outline:none;

background:none;

width:100%;

font-size:16px;


}







section h2{


font-size:20px;

margin:25px 0 15px;


}







.user-card{


display:flex;

align-items:center;

justify-content:space-between;

background:white;

padding:12px;

border-radius:16px;

margin-bottom:12px;


}




.user-main{


display:flex;

align-items:center;

gap:12px;

cursor:pointer;


}





.user-avatar{


width:55px;

height:55px;

border-radius:50%;

object-fit:cover;


}



.user-card p{


margin:3px 0;

color:#777;

font-size:14px;


}





.follow-button{


border:none;

background:#2563eb;

color:white;

padding:8px 18px;

border-radius:10px;

font-weight:600;

cursor:pointer;

transition:.2s;


}





.follow-button.following{


background:#e5e7eb;

color:#333;


}







.suggested-posts-list{


display:flex;

flex-direction:column;

gap:20px;


}