.follow-loading,
.follow-empty{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:250px;

    color:#9ca3af;

    font-size:16px;

    font-weight:600;

}

.follow-list{

    width:100%;

    max-width:700px;

    margin:auto;

    display:flex;

    flex-direction:column;

    padding:10px 0 30px;

}

.follow-user{

    display:flex;

    align-items:center;

    gap:14px;

    padding:12px 18px;

    cursor:pointer;

    transition:.2s;

    border-radius:14px;

}

.follow-user:hover{

    background:rgba(255,255,255,.05);

}

.follow-avatar{

    width:56px;

    height:56px;

    border-radius:50%;

    object-fit:cover;

    flex-shrink:0;

    border:2px solid #38bdf8;

    background:#1f2937;

}

.follow-info{

    display:flex;

    flex-direction:column;

    justify-content:center;

    overflow:hidden;

}

.follow-username{

    color:#000;

    font-size:15px;

    font-weight:500;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}

.follow-name{

    color:#9ca3af;

    font-size:14px;

    margin-top:2px;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}

@media(max-width:768px){

    .follow-user{

        padding:12px;

    }

    .follow-avatar{

        width:50px;

        height:50px;

    }

    .follow-username{

        font-size:15px;

    }

    .follow-name{

        font-size:13px;

    }

}